<div class="ui grid">
  <div class="red row">
  <div class="sixteen wide column">  
    <h1 class="tlt center">
      Verum Designs is a devoted Ruby on Rails agency
    </h1>
    </div>
    <h5 class="tltleft center">
      We're located in Toronto, ON!
    </h5>
  </div>
  <div class="row">
      <div class="eight wide column">  
        <%= image_tag("https://s3.amazonaws.com/verumdesigns/imgs/ror2.png", class: "pulse-hover ui image fademein2 centered") %>
      </div>
      <div class="six wide column">  
        <div class="ui red segment">
          Rails is awesome
        </div>  
      </div>
  </div>  
</div>
