<div class="ui grid">
  <div class="red row">
  <div class="sixteen wide column">  
    <h1 class="tlt center">
      Verum Designs is a devoted Ruby on Rails agency
    </h1>
    </div>
    <h5 class="tltleft center">
      We're located in Toronto, ON!
    </h5>
  </div>
  <div class="row">
      <div class="eight wide column">  
        <%= image_tag("https://s3.amazonaws.com/verumdesigns/imgs/ror2.png", class: "pulse-hover ui image fademein2 centered") %>
      </div>
      <div class="six wide column">  
        <div style="margin-top:1.4em;" class="ui red segment">
          <p class="ui center header">
            We'll Build Your Dreams...because:
          </p>
          <div class="ui bulleted list">
            <div class="item">Rails is superb for lightning fast prototyping</div>  
            <div class="item">A robust, active community contributes open source code</div>  
            <div class="item">Support for unit and integration testing, which means code quality can be near perfect, with zero bugs</div>  
          </div>  
        </div>  
      </div>
  </div>  
</div>
