<div class="ui bottom demo inverted two item labeled icon sidebar menu overlay visible">
  <!-- <a class="item">
    <i class="star icon"></i>
    I would buy this!
  </a> -->
  <a class="item">
    <%= semantic_icon(:wrench) %>
    <%= @design.name %>
  </a> 
  <a class="item">
    <i class="heart icon">
    <p style="float:right;">
        lol
      </p>
    </i>
    I love this design.
  </a>
</div>