<div class="ui bottom demo inverted three item labeled icon sidebar menu overlay visible">
  <a class="item">
    <i class="star icon"></i>
    I would buy this!
  </a>
  <a class="item">
    <%= @design.name %>
  </a>
  <a class="item">
    <i class="heart icon"></i>
    I love this design.
  </a>
</div>